
.body-sty{
    max-width: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
}
.nav-div{
    font-size: 10px;
   
}
.logo-margin{
    object-fit: cover; 
}
.navbar-center{
    margin-left: 50px;
}
.moving-text{
    text-align: center;
    animation: moving-text 4s linear infinite;
}
.main-part{
  margin-left: 15%;
   width: 70%;
}
@media (max-width:967px) {
    .main-part{
        margin-left: 0px;
        width: 100%;
    }
    
@keyframes moving-text {
    from{ 
        transform: rotate(0deg);
    }
   45%{
    transform: rotate(10deg);
   }
   90%{
    transform: rotate(-10deg);
   }
    to{
       
         transform: rotate(0deg);
    }
}
}
@media (min-width:968px) {
@keyframes moving-text {
    from{ 
        transform: translateX(0px);
    }
   45%{
    transform: translateX(20px);
   }
   90%{
    transform: translateX(-20px);
   }
    to{
       
         transform:translateX(0px);
    }
}
    
}