
.body-sty{
    max-width: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
}
.nav-div{
    font-size: 10px;
   
}
.logo-margin{
    object-fit: cover; 
}
.navbar-center{
    margin-left: 50px;
}
.carousel-img{
    object-fit: cover;
    height: 400px;
}
.moving-text{
    text-align: center;
    animation: moving-text 3s linear infinite;
}
.main-part{
  margin-left: 15%;
   width: 70%;
}
@media (max-width:967px) {
    .main-part{
        margin-left: 0px;
        width: 100%;
    }
    
.carousel-img{
    object-fit: cover;
    height: 150px;
}
    
@keyframes moving-text {
    from{ 
        transform: rotate(0deg);
    }
   45%{
    transform: rotate(10deg);
   }
   90%{
    transform: rotate(-10deg);
   }
    to{
       
         transform: rotate(0deg);
    }
}
}
@media (min-width:968px) {
@keyframes moving-text {
    from{ 
        transform: translateX(0px);
    }
  25%{
    transform: translateX(70px);
   }
   50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-70px);   
    }
    to{
        transform: translateX(0px);
    }
}
    
}