
body{
    position: relative;
    max-width: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
}
.nav-div{
    font-size: 10px;
   
}

.logo-margin{
    margin-left: 30px; 
    object-fit: cover; 
}
.navbar-center{
    margin-left: 50px;
   
}
.moving-text{
    margin-top: 10px;
    animation: moving-text 15s linear infinite;
}
@keyframes moving-text {
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(-1000px)
    }
}